body {
  background: white;
  color: black;
  font-family: "Rubik Vinyl", system-ui;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  margin-top: 10rem;
  font-size: 3rem;
  text-align: center;
}

.counter {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
  font-size: 10rem;
  color: #e55878;
}

.credit {
  position: fixed;
  bottom: 20px;
  left: 60px;
  font-size: 16px;
}

.counter-value {
  position: absolute;
  transform-origin: 0 100%;
  transform: skew(20deg, 0);
  overflow: hidden;
  padding-right: 30px;
  height: 1em;
  left: 50%;
  transform: translateX(-50%) skew(20deg, 0); /* Adjust for centering */
}

.counter-value-mask {
  position: absolute;
  transform-origin: 0 100%;
  transform: skew(-20deg);
  overflow: hidden;
  line-height: 1em;
}
